/* ::::: http://www.weishunyun.com/templets/css/style.css ::::: */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0px;
	padding: 0px;
	border: 0px none;
	font-size: 100%;
	font-family: "Microsoft YaHei", "华文细黑", Helvetica, Arial, sans-serif;
	vertical-align: baseline;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: none;
}

input,
select {
	vertical-align: middle;
}

html,
body {
	overflow: hidden;
}

.box .load {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 900;
	width: 100%;
	height: 100%;
}

.load_bg {
	width: 100%;
	height: 100%;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

.load p {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 200;
	width: 32px;
	height: 32px;
	overflow: hidden;
	margin: -16px 0px 0px -16px;
}

.wrapHeader {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
	width: 100%;
	height: 60px;
	/* background: transparent url('sprite.png') repeat-x scroll 0% 0%; */
	background-color:#FFF;
	box-shadow: 0px 3px 3px #ccc;
}

.header {
	width: 1060px;
	height: 60px;
	margin: 0px auto;
}

.logo {
	float: left;
	width: 143px;
	height: 60px;
	margin-right: 25px;
}

.nav {
	list-style: outside none none;
	float: left;
	font-size: 14px;
	line-height: 30px;
	margin-top: 15px;
}

.nav li {
	float: left;
}

.nav a {
	float: left;
	padding: 0px 18px;
	margin:0px 5px;
	color: #4cad87;
	text-decoration: none;
	font-size:14px;
}

.nav a:hover,
.nav .cur {
	border-radius: 3px;
	color: rgb(255, 255, 255);
	background: #39a47a none repeat scroll 0% 0%;
}

.fixedNav {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 1000;
	width: 24px;
	height: 141px;
	margin-top: -80px;
	padding-top: 24px;
	background: transparent url('sprite.png') no-repeat scroll 0px -110px;
	list-style: outside none none;
}

.fixedNav li {
	float: left;
	position: relative;
	width: 100%;
	height: 16px;
	padding-left: 3px;
	margin-bottom: 5px;
}

.fixedNav .icon {
	display: block;
	width: 16px;
	height: 16px;
	background: transparent url('sprite.png') no-repeat scroll -40px -131px;
	cursor: pointer;
}

.fixedNav .txt {
	display: none;
	position: absolute;
	left: -80px;
	top: 0px;
	width: 76px;
	height: 19px;
	background: transparent url('sprite.png') no-repeat scroll 0px -80px;
	color: rgb(255, 255, 255);
	font-size: 12px;
	line-height: 19px;
	text-align: center;
}

.fixedNav .cur .icon {
	background: transparent url('sprite.png') no-repeat scroll -40px -110px;
}

.wrapBox {
	position: fixed;
	top: 60px;
	width: 100%;
}

.box {
	position: relative;
	left: 50%;
	margin-left: -960px;
	width: 1920px;
	height: 800px;
	overflow: hidden;
}

.box_fixed {
	position: relative ! important;
	width: 100%;
	height: 570px;
}

.box div {
	position: absolute;
	z-index: 100;
}

.box .zIndex40 {
	z-index: 40;
}

.box .zIndex50 {
	z-index: 50;
}

.b1_bg {}

.b1_01 {
	left: 200px;
	top: 285px;
}

.b1_02 {
	left: 365px;
	top: 15px;
}

.b1_03 {
	left: 1080px;
	top: 235px;
}

.b1_03 img {
	display: block;
}

.b1_03 a {
	float: left;
	margin: 15px 0px 0px 10px;
	opacity: 0.5;
}

.b1_04 {
	left: 1380px;
	top: 405px;
}

.b1_03_btn {
	opacity: 0.5;
}

.b1_03_btn.anima {
	opacity: 0.5;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.b2_bg {}

.b2_01 {
	left: 130px;
	top: 175px;
}
.b2_01 {
	left: 130px;
	top: 75px;
}

.b2_02 {
	position: absolute;
	z-index: 100;
	left: 980px;
	top: 0px;
	color: #73af44;
	font-size: 30px;
}

.b2_07 {
	position: absolute;
	z-index: 100;
	left: 930px;
	top: 305px;
	color: #43698f;
	font-size: 14px;
}
.b3_11 {
	position: absolute;
	z-index: 100;
}
.b3_12 {
	position: absolute;
	z-index: 100;
}
.b2_03 {
	left: 600px;
	top: 30px;
}

.b2_04 {
	left: 1100px;
	top: 100px;
}

.b2_06 {
	left: 1260px;
	top: 200px;
}

.b3_bg {
	color: rgb(102, 102, 102);
}

.box_tl {
	left: 50%;
	top: 30px;
	width: 960px;
	height: 100px;
	margin-left: -480px;
	border-bottom: 1px solid rgb(229, 229, 229);
	text-align: center;
}

.clfea005 {
	color: rgb(254, 160, 5);
}

.box_tl h2 {
	height: 60px;
	font-size: 30px;
	font-weight: bold;
}

.box_tl p {
	color: rgb(188, 188, 188);
	font-family: Arial;
	font-size: 16px;
}

.b3_img {
	left: 50%;
	top: 180px;
	width: 371px;
	height: 347px;
	margin-left: -185px;
	opacity: 0;
}

.b3_txt {
	top: 230px;
	left: 500px;
	font-size: 12px;
	line-height: 20px;
}

.b3_txt strong {
	display: block;
	height: 25px;
	color: rgb(254, 160, 5);
	font-size: 18px;
}

.b3_01 {
	top: 201px;
	left: 525px;
	width: 290px;
	text-align: right;
}

.b3_02 {
	top: 201px;
	left: 1110px;
	width: 266px;
}

.b3_03 {
	top: 332px;
	left: 1170px;
	width: 290px;
}

.b3_04 {
	top: 463px;
	left: 1110px;
	width: 290px;
}

.b3_05 {
	top: 463px;
	left: 525px;
	width: 290px;
	text-align: right;
}

.b3_06 {
	top: 332px;
	left: 464px;
	width: 290px;
	text-align: right;
}

.b4_bg {
	color: rgb(255, 255, 255);
}

.b4_tl {
	position: absolute;
	left: 0px;
	top: 50px;
	width: 350px;
	font-size: 35px;
}

.b4_tl span {
	display: block;
	font-size: 30px;
}

.b4_txt_box {
	left: 500px;
}

.b4_txt {
	left: 0px;
	width: 360px;
	font-size: 12px;
}

.b4_txt strong {
	font-size: 16px;
	line-height: 25px;
}

.b4_txt01 {
	top: 130px;
}

.b4_txt02 {
	top: 212px;
}

.b4_txt03 {
	top: 294px;
}

.b4_txt04 {
	top: 376px;
}

.b4_txt05 {
	top: 458px;
}

.b4_txt06 {
	top: 540px;
}

.b4_01,
.b4_02 {
	top: 50px;
}

.b4_01 .tl,
.b4_02 .tl {
	position: absolute;
	top: 475px;
	left: 0px;
	width: 100%;
	font-size: 12px;
	text-align: center;
}

.b4_01 {
	left: 940px;
}

.b4_02 {
	left: 1195px;
}

.b5_bg {
	color: rgb(102, 102, 102);
}

.b5_tl {
	top: 20px;
	height: 80px;
	border-bottom-color: rgb(211, 225, 201);
}

.b5_tl h2 {
	height: 50px;
	font-size: 38px;
}

.b5_txt {
	position: absolute;
	left: 50%;
	top: 70px;
	width: 960px;
	margin-left: -480px;
	color: rgb(188, 188, 188);
	font-size: 14px;
	text-align: center;
}

.b5_01 {
	left: 550px;
	top: 135px;
}

.b5_ico {
	left: 930px;
	top: 160px;
	font-size: 12px;
	text-align: center;
}

.b5_ico p {
	position: absolute;
	background: transparent url('b5_ico.png') no-repeat scroll 0% 0%;
}

.b5_ico .b5_ico01 {
	top: 128px;
	width: 125px;
	height: 140px;
	background-position: 0px -148px;
}

.b5_ico .b5_ico02 {
	top: 66px;
	left: 125px;
	width: 125px;
	height: 140px;
	background-position: -126px -72px;
}

.b5_ico .b5_ico03 {
	top: 204px;
	left: 125px;
	width: 125px;
	height: 140px;
	background-position: -126px -213px;
}

.b5_ico .b5_ico04 {
	left: 280px;
	top: -20px;
	width: 154px;
	height: 150px;
	background-position: -274px 20px;
}

.b5_ico .b5_ico05 {
	left: 280px;
	top: 123px;
	width: 154px;
	height: 150px;
	background-position: -274px -138px;
}

.b5_ico .b5_ico06 {
	left: 280px;
	top: 270px;
	width: 154px;
	height: 150px;
	background-position: -274px -288px;
}

.b6_bg {
	color: rgb(255, 255, 255);
}

.b6_tl {
	position: absolute;
	left: 500px;
	top: 15px;
	width: 350px;
	font-size: 38px;
}

.b6_tl span {
	display: block;
	padding-top: 5px;
	font-weight: normal;
	font-size: 16px;
	font-family: "Arial";
}

.b6_cont {
	left: 480px;
	top: 50px;
	width: 960px;
	height: 500px;
	font-size: 14px;
}

.b6_img {
	left: 174px;
	top: 68px;
}

.b6_txt01 {
	left: 220px;
	top: 45px;
}

.b6_txt02 {
	left: 570px;
	top: 55px;
}

.b6_txt03 {
	left: 710px;
	top: 202px;
}

.b6_txt04 {
	left: 630px;
	top: 420px;
}

.b6_txt05 {
	left: 370px;
	top: 500px;
}

.b6_txt06 {
	left: 104px;
	top: 400px;
}

.b6_txt07 {
	left: 38px;
	top: 202px;
}

.b6_cont i {
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	background: transparent url('b6_ico.png') no-repeat scroll 0% 0%;
}

.b6_txt01 i {
	left: 98px;
	top: 26px;
}

.b6_txt02 i {
	left: -19px;
	top: 16px;
}

.b6_txt03 i {
	left: -16px;
	top: 14px;
}

.b6_txt04 i {
	left: 14px;
	top: -21px;
}

.b6_txt05 i {
	left: 66px;
	top: -21px;
}

.b6_txt06 i {
	left: 121px;
	top: -1px;
}

.b6_txt07 i {
	left: 139px;
	top: 15px;
}

.b6_arrow {
	left: 430px;
	top: 188px;
	width: 30px;
	height: 34px;
	overflow: hidden;
}

.b6_arrow em {
	display: block;
	position: absolute;
	top: 0px;
	width: 12px;
	height: 34px;
}

.b6_arrow01 {
	left: 1px;
	background: transparent url('b6_arrow.png') no-repeat scroll 0% 0%;
}

.b6_arrow02 {
	left: 17px;
	background: transparent url('b6_arrow.png') no-repeat scroll -16px 0px;
}

.b6_01 {
	left: 1220px;
	top: 380px;
}

.b7_bg {}

div.b7_tl {
	top: 30px;
	height: 70px;
}

.b7_tl h2 {
	color: rgb(110, 110, 110);
	font-size: 38px;
}

div.b7_contact {
	position: static;
	width: 960px;
	height: 75px;
	margin: 0px auto;
	padding-top: 135px;
}

.b7_contact .tel {
	float: left;
	width: 280px;
	padding-left: 100px;
	font-size: 30px;
}

.b7_contact .service {
	float: left;
	width: 280px;
}

.b7_contact .service strong {
	float: left;
	width: 115px;
	height: 40px;
	overflow: hidden;
	background: transparent url('b7_sprite.png') no-repeat scroll -125px -103px;
	text-indent: -9999px;
}

.b7_contact .service .qq {
	float: left;
	width: 31px;
	height: 40px;
	margin-right: 9px;
	background: transparent url('b7_sprite.png') no-repeat scroll 0% 0%;
}

.b7_contact .service .qq01 {
	background-position: 0px -111px;
}

div.b7_bottom {
	position: static;
	width: 960px;
	margin: 0px auto;
}

div.b7_bottom div {
	position: static;
}

.b7_map {
	float: left;
	width: 455px;
}

.b7_map .txt {
	height: 29px;
	color: rgb(110, 110, 110);
	font-size: 14px;
}

.b7_map .img {
	float: left;
	border: 1px solid rgb(204, 204, 204);
}

.b7_map .img img {
	vertical-align: top;
}

.b7_msg {
	float: left;
	width: 505px;
}

.b7_msg h4 {
	height: 30px;
	color: rgb(110, 110, 110);
	font-weight: normal;
	font-size: 18px;
}

.b7_msg h4 span {
	color: rgb(204, 204, 204);
	font-size: 16px;
}

.b7_msg .row {
	overflow: hidden;
	margin-bottom: 12px;
}

.b7_msg input {
	float: left;
	width: 217px;
	height: 18px;
	padding: 10px 14px;
	outline: medium none;
	border: 0px none;
	background: transparent url('b7_sprite.png') no-repeat scroll 0px -160px;
	color: rgb(179, 179, 179);
	font-size: 14px;
	font-family: "Microsoft Yahei";
	line-height: 18px;
}

.b7_msg .name {
	margin-right: 15px;
}

.b7_msg .companyName {
	width: 477px;
	background-position: 0px -209px;
}

.b7_msg textarea {
	width: 477px;
	height: 125px;
	padding: 10px 14px;
	outline: medium none;
	border: 0px none;
	background: transparent url('b7_sprite.png') no-repeat scroll 0px -259px;
	color: rgb(179, 179, 179);
	font-size: 14px;
	font-family: "Microsoft Yahei";
	line-height: 18px;
	resize: none;
}

.b7_msg .btn {
	display: block;
	width: 156px;
	height: 38px;
	background: transparent url('b7_sprite.png') no-repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 0px;
	text-decoration: none;
}

html,
body {
	margin: 0px;
	padding: 0px;
}


/* ::::: http://api.map.baidu.com/res/11/bmap.css ::::: */

.BMap_mask {
	background: transparent url('blank.gif') repeat scroll 0% 0%;
}

.BMap_button {
	cursor: pointer;
}

.BMap_zoomer {
	background-image: url('mapctrls.gif');
	background-repeat: no-repeat;
	overflow: hidden;
	font-size: 1px;
	position: absolute;
	width: 7px;
	height: 7px;
}

.BMap_stdMpCtrl div {
	position: absolute;
}

.BMap_stdMpPan {
	width: 37px;
	height: 57px;
	overflow: hidden;
	background: transparent url('mapctrls11.png') no-repeat scroll 0% 0%;
}

.BMap_stdMpPan .BMap_button {
	height: 16px;
	width: 16px;
}

.BMap_panN,
.BMap_panW,
.BMap_panE,
.BMap_panS {
	overflow: hidden;
}

.BMap_panN {
	left: 9px;
	top: 0px;
}

.BMap_panW {
	left: 0px;
	top: 19px;
}

.BMap_panE {
	left: 19px;
	top: 19px;
}

.BMap_panS {
	left: 9px;
	top: 38px;
}

.BMap_stdMpZoom {
	top: 59px;
	overflow: hidden;
}

.BMap_stdMpZoom .BMap_button {
	width: 18px;
	height: 19px;
	left: 9px;
	overflow: hidden;
	background-image: url('mapctrls11.png');
	background-repeat: no-repeat;
}

.BMap_stdMpZoomIn {
	background-position: -9px -57px;
}

.BMap_stdMpZoomOut {
	background-position: -9px -293px;
	bottom: 0px;
}

.BMap_stdMpSlider {
	width: 37px;
	top: 16px;
}

.BMap_stdMpSliderBgTop {
	width: 37px;
	overflow: hidden;
	background: transparent url('mapctrls11.png') no-repeat scroll 0px -76px;
}

.BMap_stdMpSliderBgBot {
	height: 8px;
	width: 37px;
	top: 124px;
	overflow: hidden;
	background: transparent url('mapctrls11.png') no-repeat scroll 0px -284px;
}

.BMap_stdMpSliderMask {
	height: 100%;
	width: 24px;
	left: 5px;
	cursor: pointer;
}

.BMap_stdMpSliderBar {
	height: 13px;
	width: 22px;
	left: 7px;
	top: 80px;
	overflow: hidden;
	background: transparent url('mapctrls11.png') no-repeat scroll 0px -312px;
}

.BMap_zlSt,
.BMap_zlCity,
.BMap_zlProv,
.BMap_zlCountry {
	position: absolute;
	left: 27px;
	height: 20px;
	width: 25px;
	background-image: url('mapctrls11.png');
	background-repeat: no-repeat;
	font-size: 0px;
	cursor: pointer;
}

.BMap_zlHolder {
	display: none;
	position: absolute;
	top: 0px;
}

.BMap_zlSt {
	background-position: 0px -338px;
	top: 14px;
}

.BMap_zlCity {
	background-position: 0px -358px;
	top: 56px;
}

.BMap_zlProv {
	background-position: 0px -378px;
	top: 84px;
}

.BMap_zlCountry {
	background-position: 0px -398px;
	top: 112px;
}

.BMap_scaleCtrl {
	width: 70px;
	height: 20px;
	bottom: 10px;
	left: 10px;
	overflow: hidden;
	-moz-user-select: none;
}

.BMap_scaleCtrl div.BMap_scaleTxt {
	font-size: 11px;
	font-family: Arial, sans-serif;
}

.BMap_scaleCtrl div {
	position: absolute;
	overflow: hidden;
}

.BMap_scaleHBar img,
.BMap_scaleLBar img,
.BMap_scaleRBar img {
	position: absolute;
	width: 37px;
	height: 426px;
	left: 0px;
}

.BMap_scaleHBar {
	width: 100%;
	height: 3px;
	font-size: 0px;
	bottom: 0px;
}

.BMap_scaleHBar img {
	top: -423px;
	width: 100%;
}

.BMap_scaleLBar,
.BMap_scaleRBar {
	width: 1px;
	height: 6px;
	bottom: 0px;
	font-size: 0px;
}

.BMap_scaleLBar img,
.BMap_scaleRBar img {
	top: -418px;
}

.BMap_scaleLBar {
	left: 0px;
}

.BMap_scaleRBar {
	right: 0px;
}

.BMap_scaleTxt {
	text-align: center;
	width: 100%;
	cursor: default;
	line-height: 18px;
}

@media print {
	.BMap_noprint {
		display: none;
	}
	.BMap_noscreen {
		display: block;
	}
	.BMap_mask {
		background: transparent none repeat scroll 0% 0%;
	}
	pop .top img,
	.pop .center img,
	.pop .bottom img {
		display: block;
	}
}