@charset "UTF-8";
#upload{
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    font-size: 15px;
    right: 55%;
    top: 92%;
    border-radius: 3px;
    border: 1px solid #ccc;
    line-height: 31px;
}
#in{
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    font-size: 12px;
    right: 25%;
    top: 92%;
    border-radius: 3px;
    border: 1px solid #ccc;
    line-height: 20px;
}