<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AreaManagerMapper">

	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into SYS_USER(
			USERNAME,	
			PASSWORD,	
			NAME,	
			ROLE_ID,	
			PHONE,	
			EMAIL,	
			BZ,
			U_TYPE,	
			CREATE_TIME,	
			USER_ID
		) values (
			#{USERNAME},	
			#{PASSWORD},	
			#{NAME},	
			#{ROLE_ID},	
			#{PHONE},	
			#{EMAIL},	
			#{BZ},
			'1',	
			SYSDATE(),	
			#{USER_ID}
		)
	</insert>
	<!-- 新增-->
	<insert id="saveArea" parameterType="pd">
		insert into t_zone(
			Z_NAME,	
			Z_ORDER,	
			Z_PARENT_ID,	
			Z_TYPE,
			create_time
		) values (
			#{AREA},	
			(SELECT CASE WHEN ISNULL(MAX(z.Z_ORDER)) THEN 1 ELSE MAX(z.Z_ORDER)+1 END FROM t_zone z WHERE Z.Z_TYPE='1'),	
			'0',	
			'1',
			SYSDATE()
		)
	</insert>
	<!-- 新增关联-->
	<insert id="saveRelation" parameterType="pd">
		INSERT INTO t_user_area_manager(
			UAM_USER_ID,	
			UAM_ZONE_ID,
			CREATE_TIME
		) VALUES (
			#{USER_ID},	
			(SELECT Z_ID FROM t_zone z WHERE Z.Z_NAME= #{AREA}),
			SYSDATE()
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from SYS_USER
		where 
			USER_ID = #{USER_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  SYS_USER
			set 
				NAME = #{NAME},
				PHONE = #{PHONE},
				EMAIL = #{EMAIL},
				BZ = #{BZ}
			where 
				USER_ID = #{USER_ID}
	</update>
	<!-- 修改 -->
	<update id="editZone" parameterType="pd">
		update  T_ZONE
			set 
				Z_NAME = #{AREA}
			where 
				Z_ID = #{Z_ID}
	</update>
	<!-- 修改 -->
	<update id="editRelation" parameterType="pd">
	    UPDATE t_user_area_manager
			SET uam_zone_id = #{AREA}
		WHERE
			uam_user_id = #{USER_ID}
	</update>
	<!-- 修改 -->
	<update id="editUserName" parameterType="pd">
	    UPDATE SYS_USER
			SET USERNAME = #{USERNAME},
			PASSWORD = #{PASSWORD}
		WHERE
			USER_ID = #{USER_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findByZId" parameterType="pd" resultType="pd">
	   SELECT
			z.z_id,
			z.z_name,
			u.USER_ID,
			u.`NAME`,
			u.USERNAME,
			u.`PASSWORD`,
			u.EMAIL,
			u.PHONE,
			u.BZ
		FROM
			t_user_area_manager tam
		INNER JOIN t_zone z ON z.z_id = tam.uam_zone_id
		INNER JOIN sys_user u ON u.USER_ID = tam.uam_user_id
		WHERE
			tam.uam_zone_id = #{Z_ID}
	</select>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findJSRole" parameterType="pd" resultType="pd">
		SELECT
			r.ROLE_ID,
			r.ROLE_NAME
		FROM
			sys_role r
		WHERE
			r.ROLE_CODE = 'QYJL'
	</select>
	
	<!-- 学校 -->
	<select id="schoolList" parameterType="pd" resultType="pd">
		SELECT
			Z.Z_ID,
			Z.Z_NAME
		FROM
			T_ZONE Z
		WHERE
			Z.Z_TYPE = '2'
			AND Z.Z_PARENT_ID = #{Z_ID}
		ORDER BY
			Z.Z_ORDER
	</select>
	
	<!-- 年级 -->
	<select id="gradeList" parameterType="pd" resultType="pd">
		SELECT
			Z.Z_ID,
			Z.Z_NAME
		FROM
			T_ZONE Z
		WHERE
			Z.Z_TYPE = '3'
			AND Z.Z_PARENT_ID = #{Z_ID}
		ORDER BY
			Z.Z_ORDER
	</select>
	
	
	<!-- 班级 -->
	<select id="classList" parameterType="pd" resultType="pd">
		SELECT
			Z.Z_ID,
			Z.Z_NAME
		FROM
			T_ZONE Z
		WHERE
			Z.Z_TYPE = '4'
			AND Z.Z_PARENT_ID = #{Z_ID}
		ORDER BY
			Z.Z_ORDER
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT
			Z.Z_ID,
			Z.Z_NAME,
			A.USERNAME,
			A. PASSWORD,
			A. NAME,
			A.ROLE_ID,
			A.PHONE,
			A.EMAIL,
			A.BZ,
			A.CREATE_TIME,
			A.USER_ID
		FROM
			T_ZONE Z
			INNER JOIN t_user_area_manager t ON t.uam_zone_id = z.z_id
			INNER JOIN sys_user A ON t.uam_user_id = A.USER_ID
			AND A.U_TYPE = '1'
		WHERE
			Z.z_type = '1'
			<if test="pd.nameParam != null and pd.nameParam !=''">
			    AND A.`NAME` LIKE '%${pd.nameParam}%'
			</if>
		ORDER BY Z.Z_ID DESC
	</select>
	<!-- 校验用户名是否存在 -->
	<select id="checkUsername" parameterType="pd" resultType="pd">
		SELECT
			u.USER_ID,
			u.`NAME`,
			u.USERNAME,
			u.PHONE
		FROM
			sys_user u
		WHERE
			u.USERNAME = #{USERNAME}
	</select>
	<!-- 校验用户名是否存在 -->
	<select id="checkArea" parameterType="pd" resultType="pd">
		SELECT
			z.z_name
		FROM
			t_zone z
		WHERE
			z.z_name = #{area}
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.USERNAME,	
				a.PASSWORD,	
				a.NAME,	
				a.ROLE_ID,	
				a.PHONE,	
				a.EMAIL,	
				a.BZ,	
				a.CREATE_TIME,	
				a.USER_ID
		from 
				SYS_USER a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from SYS_USER
		where 
			USER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<!-- 批量删除区域 -->
	<delete id="deleteZone" parameterType="String">
		delete from T_ZONE
		where 
			Z_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<!-- 批量删除关联 -->
	<delete id="deleteRelation" parameterType="String">
		delete from T_USER_AREA_MANAGER
		where 
			uam_zone_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<!-- 获取登录区域经理用户区域ID -->
	<select id="checkDel" parameterType="pd" resultType="pd">
		SELECT
			z.z_name
		FROM
			t_zone z
		WHERE
			z.z_id IN (
				SELECT
					z2.z_parent_id
				FROM
					t_zone z2
			)
		AND z.z_type = '1'
		AND z.z_id IN 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</select>
	<!-- 获取登录区域经理用户区域ID -->
	<select id="getZoneIdByUserId" parameterType="pd" resultType="pd">
		SELECT
			Z.UAM_ZONE_ID
		FROM
			T_USER_AREA_MANAGER Z
		WHERE
			Z.UAM_USER_ID = #{USER_ID}
	</select>
	<!-- 获取登录教师用户区域ID -->
	<select id="getZoneIdByTeacher" parameterType="pd" resultType="pd">
		SELECT
			Z.Z_ID
		FROM
			T_ZONE Z
		INNER JOIN T_USER_AREA_MANAGER T ON T.UAM_ZONE_ID = Z.Z_ID
		AND T.UAM_USER_ID = #{USER_ID}
	</select>
</mapper>